@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: "Raleway", "sans-serif";
    }
    /* html::-webkit-scrollbar {
      display: none;
  } 
    html{
      -ms-overflow-style: none;   */
      /* IE and Edge */
      /* scrollbar-width: none;   */
      /* Firefox */
    /* } */
}
@layer utilities {
.custom-bg-class{
    background-image: url(./assets/hero.jpg);

  }
  .clipath{ clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
  .mob-bg-class{
    background-image: url(./assets/pexels-la.jpg);

  }
  
/* .section-heading {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  } */
  .arrows {
    width: 60px;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 60px;
  }
  
  .arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }
  .indicator{
    position: absolute;
    width: 5px;
    height: 5px;
    top: 30px;
    left: 50%;
    background-color: rgb(63, 65, 71);
    border-radius: 50%;
    transform: scale(0) translateX(-50%);
    transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}
.roundedButton{
  border-radius: 3em;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px 15px 60px;
}
.circle{
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}
.ptag{
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
}
/* .indicator{
  transform: scale(1);
} */
  /* .no-scrollbar::-webkit-scrollbar {
    display: none;
} */
/* Hide scrollbar for IE, Edge and Firefox */
/* .no-scrollbar { */
    /* -ms-overflow-style: none;  IE and Edge */
    /* scrollbar-width: none;  Firefox */
/* } */

}
